body {
    background-color: #071a12;
    color: #f1f5f3; 
    text-align: center;
    font-family: Arial;
}

#time {
    font-size: 120px;
    font-weight: 600;
}

#mainScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#settingsScreen {
    display: none;
}

#level {
    font-size:
    font-weight:
    margin:
}