body {
    background-color: #071a12;
    color: #f1f5f3; 
    text-align: center;
    font-family: Arial; /* Шрифт*/
    background-image: url(images/wide_cinematic_photorealistic_interior_casino_po.png); /*вставка картинки*/
    background-repeat: no-repeat; /*повторяемость фона*/
    background-size: cover;
    margin: 0;
    overflow: hidden;
    background-attachment: fixed;/*Фон прикреплён к окну браузера и не двигается вместе с содержимым страницы*/
}

#time {
    font-size: 120px; /*Размер текста*/ 
    font-weight: 600;
}

#mainScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;/*элементы по центру главной оси*/
    align-items: center;
    height: 100vh;
}

#settingsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

#level {
    font-size: 32px;
    font-weight: 600;
    margin: 10px;
}

#currentBlindsCard {
    background-color: #0D251A;
    border: 1px solid #1D3A2B;
    border-radius: 16px;
    padding: 15px 30px;
    min-width: 350px;
    margin-bottom: 20px;
}

#currentBlinds {
    font-size: 70px;
}

.blinds-title {
    font-size: 35px;
    color:#A7B5AE ;
}

#nextBlindsCard {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #0D251A;
    border: 1px solid #1D3A2B; /*Рамка*/
    border-radius: 16px; /*скругление*/
    padding: 5px 5px; /*внутренние отступы*/
    min-width: 350px;
}

#nextBlinds {
    font-size: 35px;
}

.nextBlindsTitle {
    font-size: 20px;
    color:#A7B5AE ;
}

.control-buttons {
    display: flex;
    gap: 20px; /*Расстояние между элементами*/ 
}

.control-buttons > button {
    background-color:#074e31;
    border: 1px solid #ffffff;
    border-radius: 15px;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}

.control-buttons > button:hover{
    background-color:#088f57;
    transition: 0.2s;
}

#settingsButton {
    position: fixed; 
    top: 30px; 
    right: 30px;
    background-color:#074e31;
    border: 1px solid #ffffff;
    border-radius: 30px;
    color: #ffffff;
    padding: 8px 8px;
    font-size: 30px;
    cursor: pointer;
}

#timer-container {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer-progress {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-image: url(images/ChatGPT\ Image\ 28\ сент.\ 2026\ г.\,\ 14_55_38.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#timer-progress::before {
    content: "";
    position: absolute;
    width: 246px;
    height: 246px;
    background: #e2d4d4;;
    background-clip: padding-box;
    top: 77px;
    left: 81px;
    border-radius: 50%;
    z-index: 1;
    }

#time {
    position: relative;
    font-size: 90px;
    z-index: 2;
    color: #054d14;
}

.settings-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 10px;
}

.settings-buttons > button{
    background-color:#074e31;
    border: 1px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    padding: 8px 10px;
    font-size: 15px;
    cursor: pointer;
}

.settings-buttons > button:hover{
    background-color:#088f57;
    transition: 0.2s;
}

#settingsScreen input {
    background-color: #074e31;  
    color: #F1F5F3;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 10px;
    width: 100px;
}

#settingsScreen input::-webkit-inner-spin-button {
    appearance: none;
}

.level-row {
    margin-bottom: 5px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: grid;
    grid-template-columns: 122px 122px 122px 70px;
    gap: 50px;
}

.controls > button {
    background-color: #074e31;  
    color: #F1F5F3;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 15px;
    cursor: pointer;
}

.controls > button:hover {
    transition: 0.2s;
    background-color:#088f57;
}

.levelTitle {
    font-size: 18px;
    color: #c4cfca;
    font-weight: normal;
}

.settings-columns {
    display: grid;
    grid-template-columns: 122px 122px 122px 70px;
    gap: 50px;
    width: 586px;
}

.settings-columns > div {
    text-align: center;
}

.settings-header {
    position: sticky;
    top: 0;
    background-image: url(images/wide_cinematic_photorealistic_interior_casino_po.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}